<h1>About Us</h1>
<p>
The Witches Brew app exists to let you know what's on tap at awesome St. Petersburg, Florida beer bar <a href = "http://thealeandthewitch.com/">The Ale and the Witch</a>, and gives you ratings of the beers as well as descriptions pulled from popular "social beer" site Untappd.

Please <a href = "/static_pages/contact">contact us</a> with any questions, comments, or concerns.
</p>
